
body {
  width:100%;
  border-width: 900px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

/* .middle {
  position: center;
  color: #A09E9E;
  z-index: 2;
  margin-right: 400px;
} */

.top-navigation {
  font-size:16px;
  /* background-image:url("http://i57.tinypic.com/2roncyp.jpg"); */
  background-repeat:no-repeat;
  background-size:80%;
  border: 5px solid #a1a1a1;
  background-color: black;
  top:0;
  height:150px;

}

.top-navigation .links {
  letter-spacing: 0.03em;
  float:right;
  margin-right:20px;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  margin-top: 90px;
    
}
.top-navigation .links  a {
  display: inline-block;
  margin-left: 10px;
}
.top-navigation .links  p {
  display: inline-block;
  margin-left: 20px;
}

a:link {
  font-family: 'Roboto', sans-serif;
  color: #838994;
  text-decoration: none;
}

.top-navigation .links a:hover {
  cursor: pointer;
  color: #333333;
}

.inner {  
  border: 15px solid #787878;
<<<<<<< HEAD
    padding: 10px 40px; 
    border-radius: 25px;
    background-color:#E8E8E8;
    display:block;
    margin: 0 auto;
    max-width: 70%;
    height: 600px;
    font-size: 55px;
=======
  padding: 10px 40px; 
  border-radius: 25px;
  background-color:#E8E8E8;
  display:block;
  margin: 0 auto;
  max-width: 70%;
  height: 600px;
  font-size: 55px;
>>>>>>> ce71d961b3281cd02ccb37525123d8588ac01c07
}

.butt {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  text-shadow: 11px 0px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 300px;
  float: right;
  margin-top: 50px;
  margin-right: 270px;
}

.butt:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
<<<<<<< HEAD
.site_link_here {
  font-size: 50px;
=======

.icons {
  position: center;
  float: right; 
>>>>>>> ce71d961b3281cd02ccb37525123d8588ac01c07


}

