
body {
	width:100%;
	}
.top-navigation {
	background-image:url("http://i61.tinypic.com/2ziszu9.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	border: 5px solid #a1a1a1;
	background-color: black;
	top:0;
	height:120px;
}

.top-navigation .links {
	margin-left:100px;
	
	letter-spacing: 0.03em;
	float:right;
	margin-right:20px;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 80px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links  li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links  p {
    display: inline-block;
    margin-left: 25px;
}


.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}




.container {
	
}

#pic {
	left: 0;
	right: 0;
	/* preserve aspect ratio*/
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
h1 {
	font-size: 50px;
	color: black;
	margin-left: 200px;
	margin-top: 80px;
	font-style: italic;
}
p {
	font-size: 22px;
	margin-left: 200px;
	margin-right: 300px;
}
.box {
	height: 220px;
	width: 800px;
	border: 2px solid black;
	margin-left: 200px;
	margin-top: 40px;
	background-color: #c8c8c8;
	margin-bottom: 40px;
	
}
h2 {
	font-size: 32px;
	margin-left: 20px;
	line-height: 10px;

	
}
.red {
	color: #d73030;
}
	
.info {
	margin-left: 200px;
	margin-top: 100px;
	font-size: 20px;
	background-color: #d73030;
	height: 280px;
	width: 800px;
	background-color: #d73030;
	margin-bottom: 100px;
	padding: 1em;
/*	float: left;
*/

	}

.info .text {
	
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 300px;

}


/*.info .text {
	margin: 10px 6px 0 20px;
	padding: 3px 50px;

}*/

form {
	margin: 50px 10px 40px 25px;
}
.btn {
  margin-top: 30px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 220px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  margin-left: 100px;
}

.food {
	float: right;
	margin-right: 30px;	
	margin-top: 25px;
}

footer {
	clear: both;
	height: 100px;
	width: 100%;
	background-color: #a0a0a0;
	margin-bottom: 80px;
}
.bottom-nav .link{
	display: inline;
	float: left;
	clear: both;
}
.bottom-nav .link .horiz {
	display: inline;
	margin-left: 200px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}




/* .footer {
	margin-left: 200px;	
}
.icons {
	margin-left: 200px;
	width: 1000px;
	height: 200px;
	background-color: grey;
}

footer {
	float: left;
	clear: all;
}




