
.top-navigation {
	font-size:16px;
	background-image:url("http://i57.tinypic.com/2roncyp.jpg");
	background-repeat:no-repeat;
	background-size:80%;
	border: 5px solid #a1a1a1;
	background-color: black;
	top:0;
	height:150px;

}

.top-navigation .links {
	
	
	letter-spacing: 0.03em;
	float:right;
	margin-right:20px;
    font-family: 'Roboto', sans-serif;
    color: #838994;
  
    margin-top: 90px;
    
}
.top-navigation .links  a {
    display: inline-block;
    margin-left: 10px;
}
.top-navigation .links  p {
    display: inline-block;
    margin-left: 20px;
}

a:link {
	    font-family: 'Roboto', sans-serif;
    color: #838994;
	text-decoration: none;
}

.top-navigation .links a:hover {
    cursor: pointer;
    color: #333333;
}

.inner {  
	border: 15px solid #787878 ;
    padding: 10px 90px; 
    border-radius: 25px;
	background-color:#E8E8E8 ;
  display:block;
  margin: 0 auto;
  max-width: 70%;
  height: 100%;
	margin-top: 20px;
  
}
.inner {
	height: 100%;
	margin-top: 20px;
}
p {
	font-size:20px;
}
