
.top-navigation {
	font-size:16px;
	background-image:url("http://i59.tinypic.com/199vyp.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	border: 5px solid #a1a1a1;
	background-color: black;
	top:0;
	height:120px;

}

.top-navigation .links {
	
	
	letter-spacing: 0.03em;
	float:right;
	margin-right:20px;
    font-family: 'Roboto', sans-serif;
    color: #838994;
  
    margin-top: 80px;
    
}
.top-navigation .links  li {
    display: inline-block;
    margin-left: 10px;
}
.top-navigation .links  p {
    display: inline-block;
    margin-left: 20px;
}


.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.inner {  
	border: 15px solid #787878 ;
    padding: 10px 90px; 
    border-radius: 25px;
	background-color:#E8E8E8 ;
  display:block;
  margin: 0 auto;
  max-width: 70%;
  
}
div .inner {
	height: 100%;
}
p {
	font-size:20px;
}

ul .icons {
	margin-left:auto;
	margin-right:auto;
cursor: pointer;


}

